/* Titles, header, footer, etc. */
p {
	font-family: Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
}

div#main {
	margin-top: 15px;
}

h1 {
	color: #367EE3;
	border-bottom: solid 5px #367EE3;
	width: 60%;
	font-weight: 600;
}

h2 {
	color: #4C8CE6;
	font-weight: 600;
	margin-left: 10px;
	margin-top: 40px;
}

h1, h2 {
	clear: both;
}

div.col-lg-4 {
	padding-left: 40px;
	padding-right: 40px;
}

div.col-lg-4 h2 {
	margin-left: 0px;
}
 
div.col-lg-4 a {
	font-size: 130%;
	margin-left: 0px;
	padding-left: 0px;
}

div.footer {
	text-align: right;
	margin-right: 60px;
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 8pt;
	font-weight: bold;
	color: #909090;
}

/* Customize the navbar */
.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	margin-top: 0px;
}


/* Paragraphs etc. */
div#main > .narrow {
	padding-left: 20px;
	padding-right: 60px;
}

p, li {
	font-size: 12pt;
	line-height: 1.3em;
	text-align: justify;
}

ul {
	margin-left: 40px;
	width:80%;
}

p img {
	margin: 10px;
	font-color: #EEEEEE;
}

table.code {
	font-family: monospace;
	font-size:9pt;
	border: solid 2px #989898;
	border-radius: 5px;
	padding: 3px;
}

table.code.active {
	border: solid 3px #FA3E4B;
}

/* Code formatting */
table.code td:first-child {
	padding-right:3pt;
	border-right: solid 1px #AAAAAA;
}

table.code td:nth-child(2) {
	padding-left: 2pt;
}

table.code tr:nth-child(even) {
	background-color: #FFFFFF;
}

table.code tr:nth-child(odd) {
	background-color: #E1ECFC;
}

table.code tr.selected {
	background-color: #FFC2DD;
}

blockquote.emph {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: none;
}

blockquote.emph:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote em {
	font-style: normal;
	font-weight: 600;
}

table.downloads td, table.downloads th {
	font-size: 110%;
	padding-left: 20px;
}

table.downloads td:first-child, table.downloads th:first-child {
	padding-left: 0px;
}

table.downloads a {
	font-family: 'courier';
}

/*
 * Contacts
 */
div.contributors {
	text-align: center;
}

div.contributor {
	display: inline-block;
	border: solid 3px #367EE3;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 45%;
	font-size: 120%;
}

div.contributor img {
	border: none;
	height: 200px;
}

div.contributor div.details {
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	line-height: 1.8;
}

div.contributor:nth-child(odd) {
	text-align: left;
	margin-right: 15px;
}

div.contributor:nth-child(even) {
	text-align: right;
}

div.contributor:nth-child(odd) img {
	border-radius: 10px 0px 0px 10px;
	margin: 5px 10px 5px 5px;
}

div.contributor:nth-child(even) img {
	border-radius: 0px 10px 10px 0px;
	margin: 5px 5px 5px 10px;
}

div.contributor div.details > * {
	display: block;
}

span.name {
	color: #565656;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-size: 140%;
	margin-bottom:10px;
}

span.affiliation {
	font-size: 90%;
	font-style: italic;
	word-wrap: break-word;
	line-height: 1.2;
	margin-bottom: 10px;
}

span.email {
	font-family: courier;
}